<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Level-Up Gamer - Login</title>
<link rel="stylesheet" href="../assets//styles/styles.css">
</head>
    <body>
        <nav class="navbar">
            <h1>🎮 Level-Up Gamer</h1>
        </nav>

        <div class="form-container">
            <h2>Iniciar Sesión</h2>
            <form id="loginForm" class="form-card">
            <div class="form-group">
                <label for="email">Correo:</label>
                <input type="email" id="email" placeholder="ejemplo@correo.com" required>
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" placeholder="Mínimo 6 caracteres" required minlength="6">
            </div>

            <button type="submit">Entrar</button>
            </form>
            <p class="extra">¿No tienes cuenta? <a href="register.html">Regístrate aquí</a></p>
            <p id="loginMsg" class="msg"></p>
        </div>
    </body>
<script defer src="../scripts/script.js"></script>
</html>
