<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/styles/seccionCarro/header.css">
    <link rel="stylesheet" href="../assets/styles/seccionCarro/checkboxProducto.css">
    <link rel="stylesheet" href="../assets/styles/seccionCarro/seccionPago.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#">home</a>
    </header>
    
    <section class="seccion-pago">
        <div class="grid-seccion">
            <div class="contain-cards">
                <div class="titulo-seccion-card">
                    <h2>Carro</h2>
                    <span>(1 producto)</span>
                </div>
                <div class="seccion-card">
                    <!-- START CARDS -->

                    <div class="card-producto">
                        <div class="contain-checkbox">
                            <div class="checkbox-wrapper-12">
                                <div class="cbx">
                                    <input checked="" type="checkbox" id="checkbox-producto">
                                    <label for="cbx-12"></label>
                                    <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                    </svg>
                                </div>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                    <filter id="goo-12">
                                        <feGaussianBlur result="blur" stdDeviation="4" in="SourceGraphic"></feGaussianBlur>
                                        <feColorMatrix result="goo-12" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" mode="matrix" in="blur"></feColorMatrix>
                                        <feBlend in2="goo-12" in="SourceGraphic"></feBlend>
                                    </filter>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="contain-content-producto">
                            <div class="content-producto">
                                <div class="contain-image-producto">
                                    <img src="../public/image/public.jpg" alt="img-1">
                                </div>
                                <div class="desc-producto">
                                    <h3>titulo productos</h3>
                                    <p class="marca-producto">marca</p>
                                    <p class="estado-producto">estado</p>
                                    <p class="precio-producto">precio</p>
                                </div>
                            </div>
                            <div class="contador-producto">
                                <button><span>-</span></button>
                                <span>0</span>
                                <button><span>+</span></button>
                            </div>
                        </div>
                    </div>
                    
                    <hr class="linea-separatoria">

                    <div class="card-producto">
                        <div class="contain-checkbox">
                            <div class="checkbox-wrapper-12">
                                <div class="cbx">
                                    <input checked="" type="checkbox" id="checkbox-producto">
                                    <label for="cbx-12"></label>
                                    <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                    </svg>
                                </div>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                    <filter id="goo-12">
                                        <feGaussianBlur result="blur" stdDeviation="4" in="SourceGraphic"></feGaussianBlur>
                                        <feColorMatrix result="goo-12" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" mode="matrix" in="blur"></feColorMatrix>
                                        <feBlend in2="goo-12" in="SourceGraphic"></feBlend>
                                    </filter>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="contain-content-producto">
                            <div class="content-producto">
                                <div class="contain-image-producto">
                                    <img src="../public/image/public.jpg" alt="img-1">
                                </div>
                                <div class="desc-producto">
                                    <h3>titulo productos</h3>
                                    <p class="marca-producto">marca</p>
                                    <p class="estado-producto">estado</p>
                                    <p class="precio-producto">precio</p>
                                </div>
                            </div>
                            <div class="contador-producto">
                                <button><span>-</span></button>
                                <span>0</span>
                                <button><span>+</span></button>
                            </div>
                        </div>
                    </div>
                    
                    <hr class="linea-separatoria">

                    <div class="card-producto">
                        <div class="contain-checkbox">
                            <div class="checkbox-wrapper-12">
                                <div class="cbx">
                                    <input checked="" type="checkbox" id="checkbox-producto">
                                    <label for="cbx-12"></label>
                                    <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                    </svg>
                                </div>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                    <filter id="goo-12">
                                        <feGaussianBlur result="blur" stdDeviation="4" in="SourceGraphic"></feGaussianBlur>
                                        <feColorMatrix result="goo-12" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" mode="matrix" in="blur"></feColorMatrix>
                                        <feBlend in2="goo-12" in="SourceGraphic"></feBlend>
                                    </filter>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="contain-content-producto">
                            <div class="content-producto">
                                <div class="contain-image-producto">
                                    <img src="../public/image/public.jpg" alt="img-1">
                                </div>
                                <div class="desc-producto">
                                    <h3>titulo productos</h3>
                                    <p class="marca-producto">marca</p>
                                    <p class="estado-producto">estado</p>
                                    <p class="precio-producto">precio</p>
                                </div>
                            </div>
                            <div class="contador-producto">
                                <button><span>-</span></button>
                                <span>0</span>
                                <button><span>+</span></button>
                            </div>
                        </div>
                    </div>
                    
                    <hr class="linea-separatoria">

                    <!-- END CARDS -->

                </div>
            </div>


            <div class="seccion-resumen-compra">
                <div class="title-resumen-compra">
                    <h2>Resumen de la Compra</h2>
                </div>
                <div class="contain-compra">
                    <div class="seccion-desc-resumen-compra">
                        <div class="content-desc-resumen-compra">
                            <div class="header-resumen-compra">
                                <span>Productos (2)</span>
                                <hr class="linea-separatoria">
                            </div>
                            <div class="contain-cobros">
                                <div class="titulos-cobros">
                                    <span>sub-total:</span>
                                    <span>iva:</span>
                                    <span>descuento:</span>
                                    <span>total:</span>
                                </div>
                                <div class="cobros">
                                    <span>valor1</span>
                                    <span>valor2</span>
                                    <span>valor3</span>
                                    <span>valor4</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-btn-pagar">
                            <button class="btn-pagar-style" id="btn-pagar">Continuar Pago</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>