<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/styles/seccionCarro/form.css">
    <link rel="stylesheet" href="../assets/styles/seccionCarro/header.css">
    <link rel="stylesheet" href="../assets/styles/seccionCarro/checkboxProducto.css">
    <link rel="stylesheet" href="../assets/styles/seccionCarro/seccionPago.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="catalogo.html">ir a home</a>
    </header>

    <div class="root">
        <form id="form">
            <div class="container-1">
                <div class="container-2">
                    <h2>Dirección de envío</h2>
                    <div class="container-3">
                        <div class="container-inputs">
                            <label>Ciudad:</label>
                            <input class="input-form" name="ciudad" type="text">
                        </div>
                        <div class="container-inputs">
                            <label>Localidad/Comuna:</label>
                            <input class="input-form" name="comuna" type="text">
                        </div>
                        <div class="container-inputs">
                            <label>Calle:</label>
                            <input class="input-form" name="calle" type="text">
                        </div>
                        <div class="container-inputs">
                            <label>N° Calle:</label>
                            <input class="input-form input-num-calle" name="num_calle" type="number">
                        </div>
                        <div class="container-inputs">
                            <label>Email:</label>
                            <input class="input-form" type="email" name="email">
                        </div>
                        <div class="container-inputs">
                            <label>Celular:</label>
                            <input class="input-form input-celular" type="number" name="celular">
                        </div>
                    </div>
                </div>
                <div class="container-4">
                    <h2>Sección de pago</h2>
                    <div class="container-5">
                        <div class="container-inputs">
                            <label>Nombre tarjeta:</label>
                            <input class="input-form input-nombre" type="text" name="nom_tarjeta">
                        </div>
                        <div class="container-inputs">
                            <label>N° Tarjeta:</label>
                            <input class="input-form input-num-tarjeta" type="number" name="num_tarjeta">
                        </div>
                        <div class="container-inputs">
                            <label>Expiración:</label>
                            <input class="input-form" type="text" name="exp">
                        </div>
                        <div class="container-inputs">
                            <label>CVV:</label>
                            <input class="input-form input-cvv" type="number" name="cvv">
                        </div>
                    </div>
                </div>
                <button type="button" id="btn-form">Pagar</button>
            </div>
        </form>
    </div>
    
    <section class="seccion-pago">
        <div class="grid-seccion">
            <div class="contain-cards">
                <div class="titulo-seccion-card">
                    <h2>Carro</h2>
                </div>
                <div class="seccion-card" id="container-carro">
                    <!-- START CARDS -->

                    <!-- END CARDS -->
                </div>
            </div>


            <div class="seccion-resumen-compra" id="container-compra">
                <div class="title-resumen-compra">
                    <h2>Resumen de la Compra</h2>
                </div>
                <div class="contain-compra">
                    <div class="seccion-desc-resumen-compra">
                        <div class="content-desc-resumen-compra">
                            <div class="header-resumen-compra">
                                <span>Productos <span>(</span><span class="cant-producto">0</span><span>)</span></span>
                                <hr class="linea-separatoria">
                            </div>
                            <div class="contain-cobros">
                                <div class="titulos-cobros">
                                    <span>sub-total:</span>
                                    <span>iva:</span>
                                    <span>descuento:</span>
                                    <span>total:</span>
                                </div>
                                <div class="cobros">
                                    <span id="sub-total">0</span>
                                    <span id="iva">0</span>
                                    <span id="descuento">0</span>
                                    <span id="total">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-btn-pagar">
                            <button class="btn-pagar-style" id="btn-pagar">Continuar Pago</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script type="module" src="../scripts/seccionCarro/mostrarItems.js"></script>
<script type="module" src="../scripts/seccionCarro/botonCambiarCifra.js"></script>
<script type="module" src="../scripts/seccionCarro/calcularPago.js"></script>
<script type="module" src="../scripts/seccionCarro/styleForm.js"></script>
<script type="module" src="../scripts/seccionCarro/inputCheckCard.js"></script>
</html>