
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    --padding_grid_seccion: 1rem;
    max-width: calc(100% - var(--padding_grid_seccion));
    min-height: 100vh;
    margin: 0;
    background-color: #f1f1f1;
}


/* ---- Seccion Carro ---- */

.seccion-pago {
    width: auto;
    height: auto;
    background-color: transparent;
    padding: .5rem 0 .5rem 0;
}

.grid-seccion {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 0 0 1rem;
    background-color: transparent;
}

.seccion-card {
    width: auto;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    border-radius: .5rem;
    padding: 1rem;
}

.titulo-seccion-card {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    color: #29323a;
}

.titulo-seccion-card span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.card-producto {
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.contain-checkbox {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-content-producto {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.content-producto {
    max-width: 70%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contain-image-producto {
    width: 6.5rem;
    height: 6.5rem;
    background-color: transparent;
    margin: 0 .7rem 0 .7rem;
}

.contain-image-producto img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.desc-producto {
    max-width: 15rem;
    width: auto;
    height: auto;
    background-color: transparent;
}

.desc-producto h3, p {
    margin: 0;
}

.desc-producto h3 {
    font-size: 1.4rem;
    overflow-wrap: break-word;
    white-space: normal;     /* Permite saltos de línea normales */
}

.marca-producto {
    font-size: 1.20rem;
}

.estado-producto {
    font-size: .9rem;
}

.precio-producto {
    font-size: .9rem;
}


.contador-producto {
    width: 4.5rem;
    height: 2rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contador-producto button {
    all: unset;
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(231, 231, 231);
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    border-radius: .5rem;
    background-color: #343e49;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.contador-producto button:hover {
    background-color: #232930;

}





/* ---- Seccion Resumen Compra ---- */





.seccion-resumen-compra {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    background-color: transparent;
}

.contain-compra {
    background-color: transparent;
}

.title-resumen-compra h2 {
    color: #1f262c;
}

.seccion-desc-resumen-compra {
    max-width: calc(100% - 2rem);
    width: 20rem;
    height: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    background-color: #ffffff;
}

.content-desc-resumen-compra {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    background-color: transparent;
}

.header-resumen-compra {
    width: 100%;
    height: auto;
}

.header-resumen-compra span {
    font-size: 1.1rem;
    color: #1f262c;
    font-weight: 600;
}

.linea-separatoria {
    border: none;              /* elimina los bordes por defecto */
    border-top: 1px solid #ddd;
    width: 100%;
}

.contain-cobros {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.contain-cobros span {
    font-size: 1.1rem;
    color: #21272e;
    font-weight: 600;
}

.titulos-cobros {
    width: auto;
    height: 7.5rem;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}

.cobros {
    width: auto;
    height: 7.5rem;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: end; 
    flex-direction: column;
}

.content-btn-pagar {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.btn-pagar-style {
    all: unset;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    border-radius: 1.5rem;
    color: #fff;
    background-color: #343e49;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-pagar-style:hover {
    background-color: #242b33;
}


